main {
  .section {
    min-height: calc(100vh - 8rem);

    &.cta {
      .flex(row, center, center, nowrap);

      .container {
        .flex(row, center, center, nowrap);
        .responsive(@tablet, {
          .flex(column, center, center, nowrap);
          margin: 2rem 0;
        });

        .cta-content {
          .flex(column, space-between, flex-start, nowrap);
          margin-right: 2rem;
          height: 20rem;
          // Tablet @media-query
          .responsive(@tablet, {
            margin-right: 0;
            height: auto;

            .title {
              margin-bottom: 2rem;
              text-align: center;
              font-size: 3.6rem;
            }

            .button {
              display: none;
            }
          });

          // Mobile @media-query
          .responsive(@mobile, {
            .title {
              margin-bottom: 3rem;
              font-size: 2.8rem;
            }
          });
        }

        .illustration {
          .responsive(@tablet, {
            max-width: 40rem;
          });
        }

        .button.hidden {
          .responsive(@tablet, {
            display: flex;
            margin-top: 2rem;
          });
        }
      }
    }

    &.features {
      .flex(row, center, center, nowrap);

      .container {
        max-width: 70rem;
        .flex(row, center, center, nowrap);

        .features-content {
          .title {
            text-align: center;
            max-width: 56rem;
            margin: 0 auto 3rem;
            color: #1A2570;
            .responsive(@mobile, {
              font-size: 2.2rem;
              text-align: left;
            });
          }

          .feature {
            .flex(row, flex-start, flex-start, nowrap);
            margin-bottom: 1rem;
            color: #333333;
            
            .icon {
              margin: 0 3rem;
              .responsive(@mobile, {
                margin: 0 1rem 0 0;
                width: 4rem;
              });
            }
            
            .body {
              font-weight: 400;
              font-size: 2.4rem;
              .strong { font-weight: bold; }
              .responsive(@mobile, {
                font-size: 1.8rem;
              })
            }
          }
        }
      }
    }

    &.cta-alt {
      .flex(row, center, center, nowrap);
      padding: 8rem 0;

      .container {
        .flex(column, center, center, nowrap);

        .testimonials-wrapper {
          max-width: 76rem;
          margin: 5rem 0;

          .title {
            text-align: center;
            max-width: 56rem;
            margin: 0 auto 3rem;
            color: #1A2570;
            .responsive(@mobile, {
              font-size: 2.2rem;
              text-align: left;
            });
          }
          
          .testimonials {
            .flex(column, center, flex-start, nowrap);
            position: relative;

            .quotation-mark {
              position: absolute;
              top: -4rem;
              left: -4rem;
              font-family: 'Lalezar', sans-serif;
              font-size: 10rem;
              color: #D7E0FF;
              .responsive(@mobile, {
                left: -2rem;
              });
            }

            .testimonial {
              display: none;
              
              &.active {
                .flex(column, center, flex-start, nowrap);

                p {
                  font-weight: 400;
                  
                  &.quote {
                    font-size: 2.4rem;
                    color: #333333;
                    margin: 0 0 1rem;
                    .responsive(@mobile, {
                      z-index: 100;
                      font-size: 1.8rem;
                    });
                  }

                  &.author {
                    align-self: flex-end;
                    font-style: italic; 
                    font-size: 2rem;
                    color: #666666;
                    margin: 0 0 3rem;
                    .responsive(@mobile, {
                      font-size: 1.6rem;
                    });
                    
                    &::before {
                      content: "—";
                    }
                  }
                }
              }
            }
          }
          
          .customers {
            .flex(row, space-evenly, center, nowrap);
            
            .customer {

              img {
                cursor: pointer;
                width: 7.5rem;
                border-radius: 50%;
                .responsive(@mobile, {
                  width: 6rem;
                });
              }
            }
          }
        }

        .cta-alt-content {
          .flex(column, space-evenly, center, nowrap);
          margin: 5rem 0;
          max-width: 84rem;
          min-height: 28rem;
          padding: 6rem 8rem;
          background: #D7E0FF;
          border-radius: 2rem;
          text-align: center;
          .responsive(@mobile, {
            margin: 0;
            padding: 2rem 3rem;
          });

          .title {
            max-width: 56rem;
            margin: 0 auto 2rem;
            color: #1A2570;
            .responsive(@mobile, {
              font-size: 2.2rem;
              text-align: left;
            });
          }

          .content {
            margin: 0 auto 2rem;
            color: #333333;
            font-weight: 400;
            font-size: 2.4rem;
            .responsive(@mobile, {
              font-size: 1.8rem;
              text-align: left;
            });
          }
        }
      }
    }
  }
}